* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}

.footer {
  color: #fff;
  background: black;
  font-family: sans-serif;
  position: absolute;
  position: fixed;
  font-size: 18px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  opacity: 0.6;
}